*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI}
body{background:#f4f4f4;color:#111}

#progressBar{position:fixed;top:0;left:0;height:4px;background:#25D366;width:0%;z-index:9999}

.navbar{display:flex;justify-content:space-between;padding:15px 40px;background:#000;color:#fff;position:sticky;top:0}
.logo{display:flex;gap:10px;align-items:center}
.logo img{height:45px}

.hero{
height:90vh;
background:#000;
display:flex;
align-items:center;
justify-content:center
}
.hero-box{background:#111;padding:40px;color:#fff;border-radius:12px}

.section{padding:60px 10%;text-align:center}
.dark{background:#000;color:#fff}

.reveal{opacity:0;transform:translateY(60px);transition:1s}
.reveal.active{opacity:1;transform:translateY(0)}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px
}

.product-card{
background:#fff;
padding:20px;
border-radius:15px;
box-shadow:0 20px 40px rgba(0,0,0,0.2);
cursor:pointer;
transform-style:preserve-3d
}

.product-card img{
width:100%;
height:200px;
object-fit:contain
}

.modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.7);
justify-content:center;
align-items:center
}

.modal-box{
background:#fff;
padding:30px;
border-radius:15px;
width:320px
}

.modal-img{
width:100%;
height:250px;
object-fit:contain
}

.thumbs{
display:flex;
gap:10px;
justify-content:center
}

.thumbs img{
width:60px;
height:60px;
cursor:pointer;
border:1px solid #ccc
}

.review-box{
max-width:400px;
margin:auto;
background:#111;
color:#fff;
padding:25px;
border-radius:12px
}

.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:#fff;
font-size:30px;
padding:15px;
border-radius:50%;
text-decoration:none
}

#topBtn{
position:fixed;
bottom:80px;
right:25px;
display:none;
background:#000;
color:#fff;
border:none;
border-radius:50%;
padding:10px
}

footer{
padding:15px;
background:#111;
color:#fff;
text-align:center
}

